<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>مشخصات قبض</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="container" padding overflow-scroll="true">
  <ion-card>
  <div style="width: 50%; margin: 0 auto;">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/water.jpg">
        </ion-avatar>
        <p ion-text color='primary' style="font-size: 1.8rem;">
          قبض آب
        </p>
      </ion-item>
      <ion-item>
        <p class="price">مبلغ: {{ 16200 | number }}</p>
      </ion-item>
    </div>
  </ion-card>
  <form [formGroup]="billForm" class="form" (ngSubmit)="onSubmit(billForm.value)">
    <ion-list radio-group formControlName="payment_gateway">
      <ion-item>
        <ion-icon name='phone-portrait' color='bluegrey' item-left></ion-icon>
        <ion-label>شماره موبایل</ion-label>
        <ion-input type="text" maxlength="11" placeholder="09123456789" formControlName="phone_number" class="form-controll" (focus)="showSearchIcon = false" (focusout)="onPhoneInputFocusout($event)" #phone_input></ion-input>
        <button ion-button icon-only item-right clear id="search-btn" *ngIf="showSearchIcon" (click)="onSearchContactClick(phone_input)">
          <ion-icon name='search' class='btn-icon'></ion-icon>
        </button>
      </ion-item>
      <ion-list-header>درگاه پرداخت</ion-list-header>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/saman.png">
        </ion-avatar>
        <ion-label>درگاه بانک سامان</ion-label>
        <ion-radio value="Saman"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/mellat.png">
        </ion-avatar>
        <ion-label>درگاه بانک ملت</ion-label>
        <ion-radio checked="true" value="Mellat"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/zarinpal.png">
        </ion-avatar>
        <ion-label>درگاه زرین پال</ion-label>
        <ion-radio value="Zarinpal"></ion-radio>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col text-center">
        <button ion-button round icon-right large type="submit" color="accent" [disabled]="!billForm.valid">
          <ion-icon name="cart"></ion-icon>
          پرداخت
        </button>
        <button ion-button round icon-right large type="button" color="danger" (click)="onCancelClicked()">
          <ion-icon name="close"></ion-icon>
          انصراف
        </button>
      </div>
    </div>
  </form>
  <div class="gears-div" *ngIf="dataReady == 'loading'">
    <img src="assets/images/gears.svg">
  </div>
</ion-content>
