// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body {
    direction: rtl;
    text-align: right;
}

.content,
.content-md,
.scroll-content,
ion-list,
.item,
.item-md {
    background-color: color($colors, light-bg);
}

h1,
h2,
h3,
h4,
h5,
.alert-wrapper,
.alert-head,
.alert-tappable {
    text-align: right;
}

.alert-tappable {
    direction: ltr;
}

.alert-radio-label {
    direction: rtl;
}

ion-segment-button {
    font-size: 18px !important;
}

.list-header, .list-header-md {
	margin-bottom: 0px !important;
}

.loading-content {
	margin: 0px 16px 0px 0px !important;
}

ion-app.md [padding] .scroll-content {
    padding: 16px 10px !important;
}