<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment color="white" [(ngModel)]="packageType">
      <ion-segment-button value="regular">
        بسته‌های همراه
      </ion-segment-button>
      <ion-segment-button value="awesome">
        شگفت انگیز
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="container" padding overflow-scroll="true">
  <ng-container *ngIf="packageType == 'regular'">
    <ion-item>
      <ion-icon name='funnel' style="margin-right: 8px;"></ion-icon>
      <strong>تنظیمات نمایش بسته‌ها</strong>
    </ion-item>
    <ion-row radio-group [(ngModel)]="timeRange">
      <ion-col>
        <ion-item>
          <ion-label>
            ساعتی
          </ion-label>
          <ion-radio value="hourly" [disabled]="customerType == 'TDLTE'">
          </ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            روزانه
          </ion-label>
          <ion-radio value="daily" [disabled]="customerType == 'TDLTE'">
          </ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            هفتگی
          </ion-label>
          <ion-radio value="weekly" [disabled]="customerType == 'TDLTE'">
          </ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            ماهانه
          </ion-label>
          <ion-radio value="monthly">
          </ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row radio-group [(ngModel)]="customerType">
      <ion-col>
        <ion-item>
          <ion-label>اعتباری</ion-label>
          <ion-radio value="prepaid"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>دائمی</ion-label>
          <ion-radio value="postpaid"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>اینترنت ثابت TDLTE</ion-label>
          <ion-radio value="TDLTE"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-row *ngIf="dataReady == 'ready'">
    <ng-container *ngIf="packageType == 'awesome'">
      <ion-col *ngFor="let item of awesomePackages">
        <ion-card (click)="onPackageSelected(item)">
          <p ion-text color='danger' class="text-center" style="font-size: 1.8rem;">
            {{ item.name | customerPipe }}
          </p>
          <ion-card-title>
            <ion-row>
              <ion-col ion-col col-5>
                <h1 class="text-center">{{ item.name | trafficPipe }}</h1>
              </ion-col>
              <ion-col ion-col col-7 class='right-border'>
                <h2 class="text-center">{{ item.name | timePipe }}</h2>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <p class="price text-center">{{ item.price | number }} تومان</p>
        </ion-card>
      </ion-col>
    </ng-container>
    <ng-container *ngIf="packageType == 'regular'">
      <ion-col *ngFor="let item of packageList | filterPackages:customerType:timeRange">
        <ion-card (click)="onPackageSelected(item)">
          <p ion-text color='danger' class="text-center" style="font-size: 1.8rem;">
            {{ item.name | customerPipe }}
          </p>
          <ion-card-title>
            <ion-row>
              <ion-col ion-col col-5>
                <h1 class="text-center">{{ item.name | trafficPipe }}</h1>
                <h2 class="text-center">{{ item.name | timePipe }}</h2>
              </ion-col>
              <ion-col ion-col col-7 class='right-border'>
                <p class="text-center">
                  {{ item.name | trafficDetailPipe }}
                </p>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <p class="price text-center">{{ item.price | number }} تومان</p>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
  <div class="gears-div" *ngIf="dataReady == 'loading'">
    <img src="assets/images/gears.svg">
  </div>
  <div class="gears-div" *ngIf="dataReady == 'error'">
    <ion-icon name='alert' color='danger' class='error-msg'>خطا در دریافت اطلاعات!<br> (اتصال به اینترنت را بررسی کنید)</ion-icon>
    <button ion-button color='secondary' block icon-right style="font-size: 2rem;" (click)="dataReady = 'loading'; getPackagesList()">
      <ion-icon name='refresh'></ion-icon>
      تلاش مجدد
    </button>
  </div>
</ion-content>
