<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment color="white" [(ngModel)]="chargeType">
      <ion-segment-button value="direct">
        شارژ مستقیم
      </ion-segment-button>
      <ion-segment-button value="card">
        کارت شارژ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="container" padding overflow-scroll="true">
  <form [formGroup]="chargeForm" class="form" (ngSubmit)="onSubmit(chargeForm.value)">
    <ion-list radio-group formControlName="payment_gateway">
      <ion-item *ngIf="chargeType == 'card'">
        <p>اپراتور <span class="highlight">{{ selectedOperator.name }}</span><p>
        <div style="width: 222px; margin: 0px auto; padding: 5px;">
          <div class="outline-out" *ngFor="let item of operators" [attr.id]="item.value" [ngClass]="{  'selected-div': selectedOperator.value == item.value }" (click)="selectedOperator=item">
          </div>
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name='phone-portrait' item-left></ion-icon>
        <ion-label>شماره موبایل</ion-label>
        <ion-input type="text" maxlength="11" placeholder="09123456789" formControlName="phone_number" class="form-controll" (focus)="showSearchIcon = false" (focusout)="onPhoneInputFocusout($event)" #phone_input></ion-input>
        <button ion-button icon-only item-right clear id="search-btn" *ngIf="showSearchIcon" (click)="onSearchContactClick(phone_input)">
          <ion-icon name='search' class='btn-icon'></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-icon name='cash' item-left></ion-icon>
        <ion-label>مبلغ شارژ</ion-label>
        <ion-select formControlName="amount">
          <ion-option *ngFor="let item of chargeAmounts" [value]="item.value" [disabled]="chargeType=='card' && item.value==1000 && selectedOperator.value=='RTL'"> {{ item.name }} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="chargeType == 'direct'">
        <ion-icon name='color-wand' item-left></ion-icon>
        <ion-label>شارژ شگفت انگیز </ion-label>
        <ion-toggle formControlName="awesome"></ion-toggle>
      </ion-item>
      <ion-list-header>درگاه پرداخت</ion-list-header>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/mellat.png">
        </ion-avatar>
        <ion-label>درگاه بانک ملت</ion-label>
        <ion-radio checked="true" value="Mellat"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/saman.png">
        </ion-avatar>
        <ion-label>درگاه بانک سامان</ion-label>
        <ion-radio value="Saman"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/images/zarinpal.png">
        </ion-avatar>
        <ion-label>درگاه زرین پال</ion-label>
        <ion-radio value="Zarinpal"></ion-radio>
      </ion-item>
    </ion-list>
    <div class="row">
      <div class="col text-center">
        <button ion-button round icon-right large type="submit" color="accent" [disabled]="!chargeForm.valid">
          <ion-icon name="cart"></ion-icon>
          خرید
        </button>
      </div>
    </div>
  </form>
</ion-content>
